<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新增内容分类</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
#parse("control/public_css_js.vm")
</head>
<style>
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #efefef;
	min-width: 1020px;
}
</style>
<body>
	<!--header S-->
	#parse("layout/head.vm") 
	<!--header E-->
	<div class="main clearfix">
		<div class="conTit">
			<span>内容管理》内容分类》新增内容分类</span>
		</div>
		<div class="clear"></div>
		<!--TAB S-->

		<div class="tabBar clearfix">
			<div class="contentLf tabList">
				<ul>
					<li><em class="icon arrowLfWeight"></em> <a
						href="javascript:;" class="hover">新增内容分类</a></li>
				</ul>
			</div>

			<div class="contentRt">
				<div class="contRt">
					<form action="$!{domain}/admin/content/addCmsCategory.htm"
						method="post">
						<!--form  S------->
						<div class="systemBar">
							<dl class="formSet">
								<dd class="clearfix">
									<div class="formTt">分类：</div>
									<div class="formRow">
										<input type="text" value="" name="name" class="cText cTextLen">
									</div>
								</dd>
								<dd class="clearfix">
									<div class="formTt">类型：</div>
									<div class="formRow">
										<select name="type" class="select">
											<option value="1">新闻</option>
											<option value="2">公告</option>
											<option value="3">广告</option>
											<option value="4">帮助</option>
											<!-- <option value="5">其他</option> -->
										</select>
									</div>
								</dd>
								<dd class="clearfix">
									<div class="formTt">排序：</div>
									<div class="formRow">
										<input type="text" class="cText cTextLen" value=""
											name="sortorder">
									</div>
								</dd>
								<dd class="clearfix">
									<div class="formTt">描述：</div>
									<div class="formRow">
										<textarea rows="5" cols="80" name="description"> </textarea>
									</div>
								</dd>
								<dd class="clearfix">
									<div class="formTt">&nbsp;</div>
									<div style="margin-top: 15px;" class="formRow">
										#if($!menuUtil.isExistMenu("/admin/content/addCmsCategory.htm",$!menuAllList)) 
										    <input type="submit" class="save" value="提交"> <input type="reset" name="cencle" class="cencle" value="重置">
										#end
									</div>
								</dd>
							</dl>
						</div>
					</form>
					<!--form  E------->
				</div>
			</div>
		</div>
		<!--TAB e-->
	</div>
	#parse("layout/footer.vm")
</body>

</html>
