<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>帮助列表</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
#parse("control/public_css_js.vm")
</head>
<style>
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	/* 		overflow: hidden; */
	background: #efefef;
	min-width: 1020px;
}
</style>
<body>
	<!--header S-->
	#parse("layout/head.vm") 
	<!--header E-->
	<div class="main clearfix">
		<div class="conTit">
			<span>内容管理 》帮助管理</span>
		</div>
		<div class="tableListBar">
			<div class="tableTool">
				#if($!menuUtil.isExistMenu("/admin/content/addHelpPage.htm",$!menuAllList)
				) <a href="$!{domain}/admin/content/addHelpPage.htm" class="TableAddBtn" title="新增帮助">+新增帮助</a>
				#end
			</div>
			<form id="serachform" name="serachform" method="post"
				action="$!{domain}/admin/content/helpList.htm">
				<input type="hidden" id="pageNo" name="pageNo"
					value="$!cmsHelpCenterDTO.pageNo"> <input type="hidden"
					id="pageSize" name="pageSize" value="$!cmsHelpCenterDTO.pageSize">
			</form>
			<table class="tableList grid">
				<thead>
					<tr>
						<td><label class="label"><input type="checkbox"
								value="" id="all" /></label></td>
						<td>标题</td>
						<td>分类</td>
						<td>排序</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody id="list">
					#foreach($!help in $!helpList)
					<tr>
						<td><label class="label"><input type="checkbox"
								value="$!help.mainID" id="check_box_$!help.mainID" /></label></td>
						<td>$!help.name</td>
						<td>$!help.categoryName</td>
						<td>$!help.sortOrder</td>
						<td class="last">
							#if($!menuUtil.isExistMenu("/admin/content/editHelpPage.htm",$!menuAllList)
							) <a class="icon iconEdit"
							href="$!{domain}/admin/content/editHelpPage.htm?mainID=$!help.mainID"
							title="编辑"></a> #end &nbsp;
							#if($!menuUtil.isExistMenu("/admin/content/deleteHelp.do",$!menuAllList)
							) <a href="javascript:;" class="icon iconDel"
							onclick="deleteHelp('$!{help.mainID}')" title="删除"></a> #end
						</td>
					</tr>
					#end
				</tbody>
				#pagination($!cmsHelpCenterDTO)
			</table>
		</div>
	</div>
	#parse("layout/footer.vm")
</body>
<script type="text/javascript">
	
</script>
</html>
