<!doctype html>
<html>
<head>
<title>我的会员</title>
<meta http-equiv="Cache-Control" content="max-age=0"/>
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Cache-Control" content="must-revalidate" />
<meta http-equiv="Content-Type" content="application/vnd.wap.xhtml+xml; charset=utf-8"/>
<meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
#parse("wap/control/weixin_js.vm")
</head>
<body>
	#parse("wap/layout/head_sider.vm")
	#if("$!usermemberlist"!="" && "$!usermemberlist.size()"!="0")
	<div class="members_list">
		<ul>
		#foreach($usermember in $usermemberlist)
	    	<li>
	    		#if("$!usermember.avatar"=="")
	    		<img src="$!domain/wap/img/default-avatar.jpg" class="pimg">
	    		#else
	    		<img src="$!domain/$!usermember.avatar" class="pimg">
	    		#end
	            <div class="txt">
	                <p class="f14"><strong>$!usermember.username</strong></p>
	                <p class="txt_r"><span class="lt">订单数量：<em class="col01">$!usermember.orderAmount</em></span>  $!date.format('yyyy-MM-dd HH:mm:ss',$!usermember.maxcreateTime)</p>
	            </div>
	        </li>
	   #end
	    </ul>
	</div>
	#else
		<div class="empty_sc empty_points">
    	<p>您暂无我的会员！</p>
		</div>
	#end
	
	 <script type="text/javascript">
    jQuery(function(){
		jQuery(".userLink").addClass("cur");
	});
    </script> 
</body> 
</htmL>