<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>结算单</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
#parse("control/public_css_js.vm")
</head>
<style>
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	/* 		overflow: hidden; */
	background: #efefef;
	min-width: 1020px;
}
</style>
<body>
	<!--header S-->
	#parse("layout/head.vm") 
	<!--header E-->
	<div class="main clearfix">
		<div class="conTit">
			<span>财务中心 》结算单</span>
		</div>
		<div class="tableListBar">
			<form id="serachform" name="serachform" method="post"
				action="$!{domain}/admin/account/settlementList.htm">
				<input type="hidden" id="pageNo" name="pageNo"
					value="$!finalstatementDTO.pageNo"> <input type="hidden"
					id="pageSize" name="pageSize" value="$!finalstatementDTO.pageSize">
				<div class="tableTool" style="height: 80px;">
					<table class="searchTable">
						<tbody>
							<tr>
								<td><span class="grayF">结算单号：</span><input type="text"
									name="finalstatementMainID" id="finalstatementMainID" class="cText"
									value="$!finalstatementDTO.mainID" /></td>
								<td><span class="grayF">商家：</span><input type="text"
									name="supplierName" id="supplierName" class="cText"
									value="$!finalstatementDTO.supplierName" /></td>
								<td><span class="grayF">结算人：</span><input type="text"
									name="modifier" id="modifier" class="cText"
									value="$!finalstatementDTO.modifier" /></td>
								<td><span class="grayF">状态：</span> <select class="select"
									name="status" id="status">
										<option value="">全部</option>
										<option #if("$!finalstatementDTO.status"==
											"0")selected="selected" #end value="0">未结算</option>
										<option #if("$!finalstatementDTO.status"==
											"1")selected="selected" #end value="1">已结算</option>
								</select></td>
								<td rowspan="3">
									#if($!menuUtil.isExistMenu("/admin/account/settlementList.htm",$!menuAllList)
									) <input class="searchBtn" type="submit" value="搜索" />#end
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
			<div class="tableListBar">
				<div class="tableTool">
					 <a href="javascript:;" title="全选" id="selectAll"><em
						class="icon iconAllSel"></em></a> <a href="javascript:;" title="反选"
						id="unSelect"><em class="icon iconInverse"></em></a>
					#if($!menuUtil.isExistMenu("/admin/account/exportSettlement.do",$!menuAllList)
					) <a href="javascript:;" title="导出" id="exportSettlement"><em
					class="icon iconExport"></em></a> #end
					
					#if($!menuUtil.isExistMenu("/admin/account/changeSettlementStatus.do",$!menuAllList))
						<a href="javascript:;" title="结算" id="confirmSettlementAll">
						   <em class="icon iconRefund"></em>
						</a>
					#end
				</div>
				<table class="tableList grid">
					<thead>
						<tr>
							<td></td>
							<td>结算单号</td>
							<td>商家</td>
							<td>订单金额</td>
							<td>结算金额</td>
							<td>创建日期</td>
							<td>结算状态</td>
							<td>订单状态</td>
							<td>结算日期</td>
							<td>结算人</td>
							<td>操作</td>
						</tr>
					</thead>
					<tbody id="list">
						#foreach($!settlement in $!settlementList)
						<tr>
							<td style="width: 30px"> <label class="label"> <input type="checkbox"
									value="$!settlement.mainID" id="check_box_$!settlement.mainID" /></label></td>
							<td>$!settlement.mainID</td>
							<td>$!settlement.supplierName</td>
							<td class="price"><p>￥$!NumberTool.format("#0.00",$!settlement.totalAmount)</p></td>
							<td class="price"><p>#set($av = $!settlement.totalAmount / 100 *97)  
							￥$!NumberTool.format("#0.00",$!av)
							</p></td>
							<td><span
								title="$!date.format('yyyy-MM-dd HH:mm:ss',$!settlement.createTime)"
								class="dealtime">$!date.format('yyyy-MM-dd
									HH:mm:ss',$!settlement.createTime)</span></td>
							<td>#if($!settlement.status==0) 未结算 #elseif($!settlement.status==1)
								<font color="green">已结算</font> #end</td>
							<td><font color="green">买家已确认收货</font></td>
							<td><span
								title="$!date.format('yyyy-MM-dd HH:mm:ss',$!settlement.modifyTime)"
								class="dealtime">$!date.format('yyyy-MM-dd
									HH:mm:ss',$!settlement.modifyTime)</span></td>
							<td>$!settlement.modifier</td>
							<td>#if($!menuUtil.isExistMenu("/admin/account/settlementDetail.htm",$!menuAllList))
									<a target="_blank" class="icon iconEdit"
									href="$!{domain}/admin/account/settlementDetail.htm?finalStatementID=$!{settlement.mainID}" title="查看明细"></a> #end &nbsp;
								#if($!menuUtil.isExistMenu("/admin/account/changeSettlementStatus.do",$!menuAllList))
								#if($!settlement.status==0) 
								<a href="javascript:;"
								onclick="changeSettlementStatus('$!settlement.mainID', '1');" class="icon iconRefund" title="结算"></a>&nbsp;
								#end
								#end
							</td>
						</tr>
						#end
					</tbody>
					#pagination($!finalstatementDTO)
				</table>
			</div>
		</div>
	</div>
	#parse("layout/footer.vm")
</body>
</html>
