<!doctype html>
<html>
<head>
<title>全部分类</title>
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Cache-Control" content="must-revalidate" />
<meta http-equiv="Content-Type"
	content="application/vnd.wap.xhtml+xml; charset=utf-8" />
<meta id="viewport" name="viewport"
	content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="stylesheet" type="text/css"
	href="$!{domain}/wap/css/global.css">
<link rel="stylesheet" type="text/css"
	href="$!{domain}/wap/css/user.css">
</head>

<body>
	<div class="all">全部分类</div>
	#foreach($!cat in $!productCategoryList)
	<div class="rm">
		<h2 class="dian">
			<span
				style="background: #f1f1f1 url('$!{imgurl}$!cat.picUrl') no-repeat left center; background-size: 18px 18px;">$!cat.name</span>
		</h2>
		<ul class="clearfix">
			#foreach($!childCat in $!cat.levelTwo)
			<li class="list"><a
				href="$!{domain}/weixin/productSearch.htm?categoryID=$!childCat.mainID&cType=2">$!childCat.name</a></li>
			#foreach($!threeCat in $!childCat.levelThre)
			<li class="list"><a
				href="$!{domain}/weixin/productSearch.htm?categoryID=$!threeCat.mainID&cType=3">$!threeCat.name</a></li>
			#end #end
		</ul>
	</div>
	#end
	<script type="text/javascript"
		src="$!{domain}/wap/js/jquery-1.11.0.min.js"></script>
	<script>
		$(function() {
			$(".rm")
					.each(
							function() {
								var n = $(this).find("li.list").length;
								if (n > 18) {
									$(this).find("li.list:gt(18)").css(
											"display", "none")
									$(this)
											.find("ul")
											.append(
													"<li class='more'><a href='javascript:;'></a></li>")
								}
							});
			$(".rm").on("click", "li.more", function() {
				$(this).removeClass("more").addClass("off");
				$(this).closest("ul").find("li.list").show()

			})
			$(".rm").on(
					"click",
					"li.off",
					function() {
						$(this).removeClass("off").addClass("more");
						$(this).closest("ul").find("li.list:gt(18)").css(
								"display", "none");
					})
		})
	</script>
</body>
</html>
