<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>整车类目</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
#parse("control/public_css_js.vm")
</head>
<style>
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #efefef;
	min-width: 1020px;
}
</style>
<body>
	<!--header S-->
	#parse("layout/head.vm") 
	<!--header E-->

	<div class="main clearfix">
		<div class="conTit">
			<!--span>产品管理 》整车类目</span>-->
			<em class="icon iconMenu2"></em><a href="productList.htm">产品管理</a>
			&gt; <span>整车类目</span>
		</div>
		#if($!menuUtil.isExistMenu("/admin/product/addProductCategoryPage.htm",$!menuAllList)
							) 
		<!--<div class="tableListBar">
       		<div class="tableTool"><a class="TableAddBtn"  href="$!{domain}/admin/product/addProductCategoryPage.htm" title="新增类目">新增类目</a></div>
   	    </div>-->
   	     #end
		<div class="tableListBar">
			<table class="tableList grid seTable">
				<thead>
					<tr>
						<td class="first" width="20%">类目名称</td>
						<!--<td width="20%">产品类型</td>-->
						<td width="20%">上级类目</td>
						<td width="20%">车系logo</td>
						<td width="20%">类目拼音</td>
						<td width="20%">排序</td>
						<!--<td width="20%">操作</td>-->
					</tr>
				</thead>
			</table>
		</div>
		<div class="TreeList">
			#foreach( $!productCategoryVO in $!list)
			<div class="level level1">
				<div class="first">
					<span class="s">$!productCategoryVO.name</span>
				</div>
				<!--<div class="w300">$!productCategoryVO.productName</div>-->
				<div class="w300"></div>
				<div class="w300">
					<img src="${mallStatic}/img/logo/$!productCategoryVO.picUrl" style="width: 30px;height: 30px;"/>
				</div>
				<div class="w300">$!productCategoryVO.pinyin</div>
				<div class="w300">
					<span class="elevators">#if("$!productCategoryVO.sortOrder"!="") $!productCategoryVO.sortOrder #else  0 #end</span>
				</div>
				<!--<div class="w150">
					#if($!menuUtil.isExistMenu("/admin/product/editProductCategoryPage.htm",$!menuAllList)
					) <a class="icon iconEdit"
						href="$!{domain}/admin/product/editProductCategoryPage.htm?mainID=$!productCategoryVO.mainID"
						title="编辑"></a> #end
					#if($!menuUtil.isExistMenu("/admin/product/deleteProductCategory.do",$!menuAllList)
					) <a href="javascript:;" class="icon iconDel"
						onclick="deleteProductCategory('$!productCategoryVO.mainID')" title="删除"></a> #end
				</div>-->
			</div>
			<ul>
				#foreach($!productCategoryVOTWO in $!productCategoryVO.levelTwo)
				<li>
					<div class="level level2">
						<!--<div class="first">
							<span class="s"
								onclick="showlevel3('$!productCategoryVOTWO.mainID',$!productCategoryVOTWO.name,this)">$!productCategoryVOTWO.name</span>
						</div>-->
						<div class="first">
							<span class="s"
								onclick="showlevel3('$!productCategoryVOTWO.mainID',this)">$!productCategoryVOTWO.name</span>
						</div>
						<!--<div class="w300">$!productCategoryVOTWO.productName</div>-->
						<div class="w300">$!productCategoryVO.name</div>
						<div class="w300">
						#if($!productCategoryVOTWO.picUrl)
							<img src="${mallStatic}/img/logo/$!productCategoryVOTWO.picUrl" style="width: 30px;height: 30px;"/>
						#end
						</div>
						<div class="w300">$!productCategoryVOTWO.pinyin</div>
						<div class="w300">
							<span class="elevators">#if("$!productCategoryVOTWO.sortOrder"!="") $!productCategoryVOTWO.sortOrder #else  0 #end <a
								href="javascript:;" class="top"></a><a href="javascript:;" class="bot"></a></span>
						</div>
						<!--<div class="w150">
							#if($!menuUtil.isExistMenu("/admin/product/editProductCategoryPage.htm",$!menuAllList)
							) <a class="icon iconEdit"
								href="$!{domain}/admin/product/editProductCategoryPage.htm?mainID=$!productCategoryVOTWO.mainID"
								title="编辑"></a> #end
							#if($!menuUtil.isExistMenu("/admin/product/deleteProductCategory.do",$!menuAllList)
							) <a href="javascript:;" class="icon iconDel"
								onclick="deleteProductCategory('$!productCategoryVOTWO.mainID')"
								title="删除"></a> #end
						</div>-->
					</div>
					<div id="level3_$!productCategoryVOTWO.mainID"></div>

				</li> #end
			</ul>
			#end
<!-- 			<div class="page"> -->
<!-- 				<span class="btnpage"> <a class="btnfirst disabled" -->
<!-- 					onclick="userSearch(1)">首页 </a> <a class="btnprev disabled" -->
<!-- 					onclick="userSearch('1')">上一页</a> <a class="btnnext disabled" -->
<!-- 					onclick="userSearch('1')">下一页</a> <a class="btnlast disabled" -->
<!-- 					onclick="userSearch('1')">尾页</a> -->
<!-- 				</span> <span class="info">共有<strong>4</strong>条记录 当前页<strong>1/1</strong></span> -->
<!-- 				<span class="selPage"> <select onchange="__doPostBack('ctl00$GridBlock$sgList','page,1,'+ this.value)" class="select"> -->
<!-- 					<option selected="selected" value="10">每页10条</option> <option value="20">每页20条</option> -->
<!-- 					<option value="50">每页50条</option> <option value="100">每页100条</option> -->
<!-- 					<option value="200">每页200条</option> <option value="300">每页300条</option> -->
<!-- 					</select> 跳转到第 <select onchange="__doPostBack('ctl00$GridBlock$sgList','page,'+ this.value)"> -->
<!-- 					<option selected="selected" value="1">1</option> </select> 页 -->
<!-- 				</span> -->
<!-- 			</div> -->
		</div>
	</div>
	#parse("layout/footer.vm")
</body>
<script>
	jQuery(function() {
		jQuery(".level .first span").bind("click", function() {
			var t_parent = $(this).parents(".level");
			//判断到点击的为1级菜单
			if (t_parent.hasClass("level1")) {
				//如果是收起状态
				if (jQuery(this).hasClass("s")) {
					jQuery(this).removeClass("s").addClass("z");
					t_parent.next("ul").show();
				} else {
					//如果是展开状态
					jQuery(this).removeClass("z").addClass("s");
					t_parent.next("ul").hide();
				}
			}
			if($(".foot_all").length==0){
                return;
            }
            if($("body").height()-$(".main").height()-50>50){
                $(".foot_all").addClass("foot_all_fixed");
            }else{
                $(".foot_all").removeClass("foot_all_fixed");
            }
			//判断到点击的为2级菜单
			/* 	if (t_parent.hasClass("level2")) {
					if (jQuery(this).hasClass("s")) {
						jQuery(this).removeClass("s").addClass("z");
						jQuery(this).parents("li").find(".level3").show();
					} else {
						jQuery(this).removeClass("z").addClass("s");
						jQuery(this).parents("li").find(".level3").hide();
						//jQuery(this).parent().parent().html("")
					}
				}  */
			//点击3级不做任何操作
		});
	});

	function showlevel3(mainID,name) {
		var data = {
			mainID : mainID
		};
		jQuery("#level3_" + mainID).empty();
		var t_parent = jQuery(name).parents(".level");
		if (jQuery(name).hasClass("s")) {
			jQuery(name).removeClass("s").addClass("z");
			//jQuery(this).parents("li").find(".level3").show();
			var url = "findProductCatByParentID.do";
			//var url = "/admin/product/findVehicleTypeList.do";
			jQuery
					.ajax({
						url : url,
						type : "POST",
						data : data,
						dataType : "json",
						success : function(data) {
							if (data.code == 0) {
								var catAry = data.result;
								for ( var id in catAry) {
									$("#level3_" + mainID)
											.append(
													"<div class='level level3' style='display:block'><div class='first'><span>"
															+ catAry[id].name
															+ "</div><div class='w300'>"
															+ $(name).text()//这里如果继续以传参的方式进来会因一些特殊字符（如:'）而无法成功调用本函数
															+ "</div><div class='w300'>"
															+ "</div><div class='w300'>"
															+ "</div><div class='w300'><span class='elevators'>"
															+ 0
															+"<a href='#' class='top'></a><a href='#' class='bot'></a></span></div>");
									}
							} else {
								alert("加载失败");
							}
						},
						error : function() {
							alert("加载失败");
						}
					});
		} else {
			jQuery(name).removeClass("z").addClass("s");
		}
	}
/*
	function showlevel3(mainID,name) {
		var data = {
			mainID : mainID
		};
		jQuery("#level3_" + mainID).empty();
		var t_parent = jQuery(name).parents(".level");
		if (jQuery(name).hasClass("s")) {
			jQuery(name).removeClass("s").addClass("z");
			//jQuery(this).parents("li").find(".level3").show();
			var url = "findProductCatByParentID.do";
			jQuery
					.ajax({
						url : url,
						type : "POST",
						data : data,
						dataType : "json",
						success : function(data) {
							if (data.code == 0) {
								var catAry = data.result;
								for ( var id in catAry) {
									var sortOrder = (catAry[id].sortOrder!=null)?catAry[id].sortOrder:0;
									var pinyin = (catAry[id].pinyin!=null)?catAry[id].pinyin:"";
									if(catAry[id].picUrl != null){
									$("#level3_" + mainID)
											.append(
													"<div class='level level3' style='display:block'><div class='first'><span>"
															+ catAry[id].name
															+ "</div><div class='w300'>"
															+ $(name).text()//这里如果继续以传参的方式进来会因一些特殊字符（如:'）而无法成功调用本函数
															+ "</div><div class='w300'><img src='${mallStatic}/img/logo/"
															+ catAry[id].picUrl
															+ "' style='width: 30px;height: 30px;'/></div><div class='w300'>"
															+ pinyin
															+ "</div><div class='w300'><span class='elevators'>"
															+ sortOrder
															+"<a href='#' class='top'></a><a href='#' class='bot'></a></span></div>");
									}
									else{
									$("#level3_" + mainID)
											.append(
													"<div class='level level3' style='display:block'><div class='first'><span>"
															+ catAry[id].name
															+ "</div><div class='w300'>"
															+ $(name).text()//这里如果继续以传参的方式进来会因一些特殊字符（如:'）而无法成功调用本函数
															+ "</div><div class='w300'>"
															+ "</div><div class='w300'>"
															+ pinyin
															+ "</div><div class='w300'><span class='elevators'>"
															+ sortOrder
															+"<a href='#' class='top'></a><a href='#' class='bot'></a></span></div>");
									}
								}
							} else {
								alert("加载失败");
							}
						},
						error : function() {
							alert("加载失败");
						}
					});
		} else {
			jQuery(name).removeClass("z").addClass("s");
		}
	}
*/
</script>
</html>
