<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<title>商家中心</title>
<link rel="stylesheet" type="text/css" href="${mallStatic}/css/supplier.css">
<link rel="stylesheet" href="${mallStatic}/css/base.css">
<link rel="stylesheet" href="${mallStatic}/css/busin.css">
<link rel="stylesheet" type="text/css" href="${mallStatic}/css/jquery.mcdropdown.min.css">
<link rel="stylesheet" href="${mallStatic}/css/commodity_publish.css">
<style type="text/css">
span.error {
height: 16px;
  line-height: 16px;
  padding-left: 18px;
  margin-left: 10px;
  display: inline-block;
	  background: url(${mallStatic}/images/icons_9.png) no-repeat left center;
	  color: #f67649;
  }
  span.ok {
  height: 16px;
  line-height: 16px;
  padding-left: 18px;
  margin-left: 10px;
  display: inline-block;
  background: url(${mallStatic}/images/icons_8.png) no-repeat left center;
  color: #196c18;
  }
</style>
<script src="${mallStatic}/js/jquery-1.9.1.js" type="text/javascript"></script>
<script type="text/javascript" src="${mallStatic}/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="${mallStatic}/js/jquery.bgiframe.js"></script>
<script type="text/javascript" src="$!{domain}/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="${mallStatic}/js/jquery.scrollto.js"></script>
<script type="text/javascript" src="${mallStatic}/js/verify.js"></script>
<script type="text/javascript" src="${mallStatic}/js/public.js"></script>

<script type="text/javascript" src="${mallStatic}/js/jquery.mcdropdown.min.js"></script>
<script type="text/javascript" src="${mallStatic}/js/ajaxfileupload.js"></script>
<script type="text/javascript" src="$!{mallStatic}/js/user.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
	  	$(".Info_add .msg .box1 li").click(function(){
	  		$(this).addClass('cur').siblings().removeClass('cur');
	  		$(".Info_add .msg .box1 .box2 p").eq($(this).index()).addClass('cur').siblings().removeClass('cur');
	  	});
	  });
function addPriceType(priceType){
	//给隐藏域赋值以用作
	if (priceType == 1){
		$("#weightSpace").css("display","block");
		$("#cubageSpace").css("display","none");
	}else if (priceType == 3){
		$("#cubageSpace").css("display","block");
		$("#weightSpace").css("display","none");
	}else{
		$("#weightSpace").css("display","none");
		$("#cubageSpace").css("display","none");
	}
	$("#priceType").replaceWith("<input type='hidden' name='priceType' id = 'priceType' value='"+ priceType +"'/>");
}

//Ajax请求是否有对应产品类型，如果有则返回一个productVO
function findProduct(productCode) {
	jQuery.ajax({
		url:"${domain}/mall/seller/findProductByCode.do",
		contentType:"application/x-www-form-urlencoded;charset=UTF-8",
		type:"POST",
		dataType:"json",
		data:{'productCode' : productCode},
		success: function(data){
			if(data.code == 0 && data.result != null){
				var result = data.result;
				$("#productName").append("<font style='font-size: 150%;color: red'>" + result.name + "</font>");
				$("#productImg").replaceWith("<img src='$!{mallStatic}/img/products/" +result.picURL + "' id = 'productImg'>");
				$("#picURL").replaceWith("<input type='hidden' name='picURL' id = 'picURL' value='"+result.picURL +"'/>");	//创建隐藏域赋值以传参		
				$("#productID").replaceWith("<input type='hidden' name='productID' id = 'productID' value='"+result.mainID +"'/>");	//创建隐藏域赋值以传参		
				$("#findResult").removeClass("error").addClass("ok").text("");
				$("#menu").css("display","block");
			}else{
				//alert("加载失败！");
				$("#findResult").removeClass("ok").addClass("error").text("未能找到相应产品类型");
				//$("#menu").css("display","none");			//如果已经展开，这里再收缩就有点奇怪了
			}
		},
		error : function(){
			//alert("加载失败！");
			$("#findResult").removeClass("ok").addClass("error").text("未能找到相应产品类型");
			//$("#menu").css("display","none");
		}
	});
}	

function reset(){
	$("#productID").val("");
	$("#findResult").removeClass().text("");
	$("#productName").empty();
	$("#productImg").replaceWith("<img src='1.jpg' id = 'productImg'>");
	
	$("#salesPrice").val("");
	$("#weight").val("");
	$("#volume").val("");
}
var editor;
KindEditor.ready(function(K) {
    editor = K.create("textarea.product_mark", {
        allowFileManager : true
    });
});
	
//暂时屏蔽商品描述处复文本框的左右拖动操作
//$(".ke-inline-block ke-statusbar-right-icon").remove();	
//$(".ke-container ke-container-default").css("width","635px");

$(document).ready(function (){
	// //产品编号输入空检查(失去焦点时)
	// $("#productID").blur(function(){
	     // var myInputID = $(this).val();
		     // if(myInputID==""){
		     // $(this).next("span").removeClass("ok").addClass("error").text("产品编号不能为空");
		     // }else{
		     // $(this).next("span").removeClass("error").addClass("ok").text("");
		     // }		
		// });
		
	if($("#operatorMethod").val()=="'look'"){
		$("input").attr("disabled",true);
		//$("ui").attr("disabled",true);
		$("textarea").attr("disabled",true);
		$(".supplierCategoryID").css("background-color","rgb(235, 235, 228)").css("color","#747447");
		alert($(".supplierCategoryID").parents(".cons").className);
		//$(".supplierCategoryID").parent().children("a").css("display","none");
		$(".supplierCategoryID").next().css("display","none");
		$(".freightTemplateID").css("background-color","rgb(235, 235, 228)").css("color","#747447");
		
		//$(".supplierCategoryID").parents(".mcdropdown").css("background-color","rgb(235, 235, 228)").css("color","#747447");
		//$(".supplierCategoryID").siblings("a").css("width","0px");
	}
	
	if ($("#priceType").val()=="1"){
		$("#weightSpace").css("display","block");
	}else if ($("#priceType").val()=="3"){
		$("#cubageSpace").css("display","block");
	}
	
	if ($("#operatorMethod").val()== 'add'){
		$("dd:eq(0)").addClass("on");
	}

	$("#search").click(function(){
		$("#productName").empty();
		$("#productImg").replaceWith("<img src='' id = 'productImg'>");

		 var input = $("#productCode").val();
	     if(input==""){
	     	$(this).next("span").removeClass("ok").addClass("error").text("产品编号不能为空");
	     }else{
	     	findProduct(input);
	     }		
	});
	
	$("#publish").click(function(){
		if($("#productName").text()==""){
			alert("未找到相应产品类型，请重新输入产品编号");
			return false;
		}
		if($(".supplierCategoryID").val()==""){
		    alert("请选择店铺分类");
			return false;
		}
		if($("#name").val()==""){
			alert("请输入商品名称");
			return false;
		}
		if($("#salesPrice").val()==""){
			alert("请输入搜贝价格");
			return false;
		}
		if($("#standrardPrice").val()==""){
			alert("请输入商品价格");
			return false;
		}
		if($(".freightTemplateID").val()==""){
		    alert("请选择物流模板");
			return false;
		}
		
		if($("#priceType").val()=="1" && $("#weight").val()==""){
			alert("由于您当前选择的物流模板是按重量计费的，所以请您输入商品重量");
			return false;
		}
		if($("#priceType").val()=="3" && $("#cubage").val()==""){
			alert("由于您当前选择的物流模板是按体积计费的，所以请您输入商品体积");
			return false;
		}
		
		//alert($("#description").val());		
		//alert($(".product_mark").html());
		//alert($(".ke-content").html());
		var descriptionInfo = $("iframe").contents().find("body").html();
		$("#description").val(descriptionInfo);
		//$("#description").replaceWith("<input type='hidden' name='description' id='description' value="+ descriptionInfo +">");
		
		//提交完毕，更新页面
		$("#itemForm").submit();
		//window.location.reload();
		return true;
	});
	
	
	$(".supplierCategoryID").mcDropdown(".mcdropdown_menuCat");
	$(".freightTemplateID").mcDropdown(".mcdropdown_menuCat1");
});

</script>

</head>

<body>
#parse("layout/suppliercenter/header.vm")
<div class="layout clearfix">
	 #parse("layout/suppliercenter/leftmenu.vm")
	 #if($!operatorMethod=='add')
    <form action="$!domain/mall/seller/addItem.htm" id="itemForm" method="post">
     #elseif($!operatorMethod=='edit')
     <form action="$!domain/mall/seller/updateItem.htm" id="itemForm" method="post">
     #end
		<input type="hidden" name="supplierID" value="$!{supplierVO.mainID}">
		<input type="hidden" name="supplierName" value="$!{supplierVO.companyName}">
		<input type="hidden" name="itemID" value="$!{itemVO.mainID}">
		<input type="hidden" id="operatorMethod" value="$!operatorMethod">
	 <div id="rightMain">
    	<div class="crumbs">
        	商家管理中心 &gt; 商品管理 &gt; #if($!operatorMethod=='add')商品发布  #elseif($!operatorMethod=='edit')编辑商品  #else 查看商品 #end
        </div>
        <div class="p15">
		 #if($!operatorMethod=='add')
            <div class="stitbar">
                <strong>商品发布</strong>
            </div>
	     #elseif($!operatorMethod=='edit')
            <div class="stitbar">
                <strong>编辑商品</strong>
            </div>
         #else
            <div class="stitbar">
                <strong>查看商品</strong>
            </div>
	     #end
            <div class="accInfo mt25 shop_setting">
                <dl class="clearfix verify">
                    <dt>产品编号：</dt>
                    <dd>
                    	<input class="text langtext verify_textlength verify_nonempty" style="height: 28px" id="productCode" value="$!productVO.code" data-length="30" data-length-follow="true" data-nonempty-istrim="true" type="text"> 
                    </dd>
                    
					<div style="float:left;">
						<a href="javascript:;" id="search" class="nextLink" style="height: 28px;background:#20638e;border-radius:4px;margin-top: 1px;margin-left:20px;margin-bottom: 1px">搜索</a>
					    <span id="findResult"></span>
					</div>
                </dl>
            </div>
		 #if($!operatorMethod=='add')
            <div  style="display:none" id="menu">
	     #elseif($!operatorMethod=='edit')
            <div id="menu">
         #end
            <!--<p class="ct mt25"><a href="#" class="nextLink" style="background:#20638e;border-radius:4px;">提交</a></p>-->
            <div class="Info_add mt25 shop_setting">
                <!--<p class="tl">所处产品:<span id = "productName"></span></p>-->
                <!--<div id = "productName" style="text-align: center"></div>-->
                <div id = "productName" style="text-align: center">
					<font style="font-size: 150%;color: red">$!productVO.name</font>
                </div>
                <div class="msg">
                	<img src="$!{mallStatic}/img/products/$!productVO.picURL" id = "productImg">
                	<!--左侧加样式开始-->
                	<div style="margin-left: 10px;float:left;position: relative;padding-left: 65px;">
	                	<span style="position: absolute;left: 0;top: 0;font-size: 12px;">适用车型：</span>
						<div class="box1" style="display:inline-block;height: 200px;">
							<ul style="float:left;width:70px;height:200px;border: 1px solid #ccc;">
								<li class="cur"><img src="../../img/logo/benz.fw.png" alt=""></li>
								<li><img src="../../img/logo/bmw.fw.png" alt=""></li>
								<li><img src="../../img/logo/Mini.fw.png" alt=""></li>
								<p><a href="script:;">︾<!--<i></i>--></a></p>
							</ul>
							<div class="box2" style="float:right;width:440px;height:200px;border: 1px solid #ccc;border-left: none;">
								<p class="cur">
									<a href="script:;">1' E81 3 门车 116d ECE</a>
									<a href="script:;">1' E81 3 门车 116i 1.6 N43 ECE</a>
									<a href="script:;">1' E81 3 门车 116i 1.6 N45N ECE</a>
									<a href="script:;">1' E81 3 门车 116i 2.0 ECE</a>
								</p>
								<p>
									<a href="script:;">3' F31 旅行车 316d ECE</a>
									<a href="script:;">3' F31 旅行车 316i ECE</a>
									<a href="script:;">3' F31 旅行车 318d ECE</a>
									<a href="script:;">3' F31 旅行车 318dX ECE</a>
									<a href="script:;">3' F31 旅行车 318d ECE</a>
									<a href="script:;">3' F31 旅行车 318dX ECE</a>
								</p>
								<p>
									<a href="script:;">5' F31 旅行车 316d ECE</a>
									<a href="script:;">5' F31 旅行车 316i ECE</a>
									<a href="script:;">5' F31 旅行车 318d ECE</a>
									<a href="script:;">5' F31 旅行车 318dX ECE</a>
									<a href="script:;">5' F31 旅行车 318d ECE</a>
									<a href="script:;">5' F31 旅行车 318dX ECE</a>
									<a href="script:;">5' F31 旅行车 318d ECE</a>
									<a href="script:;">5' F31 旅行车 318dX ECE</a>
								</p>
							</div>
						</div>
					</div><!--左侧加样式结束-->
                	<div class="mg" style="clear:both;">

                <dl class="clearfix" style="border-bottom: 1px dotted #e6e6e6;">
                    <dt style="float:left; margin-right: 27px; line-height: 42px;"><em class="red">*</em>店铺分类</dt>
                    <dd>
                        <div class="cons">
                            <div style="margin:5px 0;"><input type="text" name="supplierCategoryID" class="supplierCategoryID" value="$!itemVO.SupplierCategoryID" /><span></span></div>
                            <ul class="mcdropdown_menu mcdropdown_menuCat">
	                           	   #foreach($!supplierCategoryVO in $!businclassList)
	                                <li rel="$!supplierCategoryVO.mainID">$!supplierCategoryVO.name
	                               	   <ul>
	                                    #foreach($!childSupplierCategoryVO in $!supplierCategoryVO.childBusinClassList)
	                                        <li rel="$!childSupplierCategoryVO.mainID">$!childSupplierCategoryVO.name</li>
	                                    #end
	                                   </ul>
		                             </li>
	                                #end
                            </ul>
                            <div class="child_list" id="child_list1">
                            </div>
                        </div>
                    </dd>
                </dl>
                		
                		<p>
                			<span class="tt"><em class="red">*</em>商品名称</span>
                			<input type="text" class="text" id="name" name="name" value="$!itemVO.name">
                		</p>
                		<p>
                			<span class="tt"><em class="red">*</em>商品价格(元)</span>
                			<input type="text" class="text" id="standrardPrice" name="standrardPrice" value="$!itemVO.standrardPrice">
                		</p>
                		<p>
                			<span class="tt"><em class="red">*</em>搜贝价格(元)</span>
                			<input type="text" class="text" id="salesPrice" name="salesPrice" value="$!itemVO.salesPrice">
                			<!--<input type="text" class="text" id="salesPrice" name="salesPrice" data-think-value="元" 
                			data-think-istrim="true" data-nonempty-istrim="true" value="$!productVO.standPrice" 
                			data-think-color="rgb(116, 116, 71)" style="color: rgb(204, 204, 204);" />-->
                		</p>	
                		<p style="display: none" id="weightSpace">
                			<span class="tt"><em class="red">*</em>商品重量(kg)</span>
                			<input type="text" class="text" id="weight" name="weight" value="$!itemVO.weight">
                		</p>
                		<p style="display: none" id="cubageSpace">
                			<span class="tt"><em class="red">*</em>商品体积(m3)</span>
                			<input type="text" class="text" id="cubage" name="cubage" value="$!itemVO.cubage">
                		</p>
                		<!--
                		<p>
                			<span class="tt"><em class="red">*</em>物流模板</span>
                			<select class="small" id="freightTemplateID" name="freightTemplateID" value="$!itemVO.freightTemplateID">
                				#foreach($!freightTemplateVO in $!freightTemplateList)
                					#if($!freightTemplateVO.priceType==1)
		            				<option value="$!freightTemplateVO.mainID" label="$!freightTemplateVO.name——按重量计费">1</option>
		            				#elseif($!freightTemplateVO.priceType==2)
		            				<option value="$!freightTemplateVO.mainID" label="$!freightTemplateVO.name——按件数计费">2</option>
		            				#elseif($!freightTemplateVO.priceType==3)
		            				<option value="$!freightTemplateVO.mainID" label="$!freightTemplateVO.name——按体积计费">3</option>
		            				#elseif($!freightTemplateVO.priceType==4)
		            				<option value="$!freightTemplateVO.mainID" label="$!freightTemplateVO.name——按单计费">4</option>
		            				#end
                				#end
                			</select>
                		</p>
                		-->
                		
                <dl class="clearfix" style="border-bottom: 1px dotted #e6e6e6;">
                    <dt style="float:left; margin-right: 27px; line-height: 42px;"><em class="red">*</em>物流模板</dt>
                    <dd>
                        <div class="cons">
                            <div style="margin:5px 0;"><input type="text" name="freightTemplateID" class="freightTemplateID" value="$!itemVO.freightTemplateID"/><span></span></div>
                            <ul class="mcdropdown_menu mcdropdown_menuCat1">
                				#foreach($!freightTemplateVO in $!freightTemplateList)
                					#if($!freightTemplateVO.priceType==1)
	                                <!--<li rel="$!freightTemplateVO.mainID" onclick="sdf('$!freightTemplateVO.mainID',)">$!freightTemplateVO.name——按重量计费</li>-->
	                                <li rel="$!freightTemplateVO.mainID" onclick="addPriceType(1)">$!freightTemplateVO.name——按重量计费</li>
                					#elseif($!freightTemplateVO.priceType==2)
	                                <li rel="$!freightTemplateVO.mainID" onclick="addPriceType(2)">$!freightTemplateVO.name——按件数计费</li>
                					#elseif($!freightTemplateVO.priceType==3)
	                                <li rel="$!freightTemplateVO.mainID" onclick="addPriceType(3)">$!freightTemplateVO.name——按体积计费</li>
                					#elseif($!freightTemplateVO.priceType==4)
	                                <li rel="$!freightTemplateVO.mainID" onclick="addPriceType(4)">$!freightTemplateVO.name——按单计费</li>
	                                #end
	                            #end
                            </ul>
                            <div class="child_list" id="child_list2">
                            </div>
                        </div>
                    </dd>
                </dl>
 <!--               		
                		<p class="last">
                			<span class="tt"><em class="red">*</em>商品描述</span>
                			<textarea id="description" name="description">$!itemVO.description</textarea>
                		</p>
-->
                <dl class="clearfix">
                    <dt><em class="red">*</em>商品描述：</dt>
                    <dd>
                        <div class="cons">
                            <textarea class="product_mark" style="width:638px;height:300px;visibility:hidden;">$!itemVO.description</textarea><span></span>
                        </div>
                    </dd>
                    <dd style="padding-left:190px;">
		                <div class="cons">
		                   	<span class="note">(提示:文本宽度框790为最佳)</span>
		                </div>
           			 </dd>
                </dl>

                	</div>
                </div>
            </div>
           
            <!--在findProduct中获得picURL之后生成给一个用于提交url信息的隐藏域-->
			<input type="hidden" name="picURL" id="picURL" value="$!itemVO.picURL"/>
			<input type="hidden" name="productID" id="productID" value="$!itemVO.productID"/>
			<input type="hidden" name="priceType" id="priceType" value="$!freightTemplateVO.priceType"/>
			<input type="hidden" name="description" id="description"/>

            <p class="ct mt25">
			#if($!operatorMethod=="'look'")
            	<a href="item.htm?type=sale" class="retnLink reset">返回</a>
			#else
            	<a href="javascript:;" type="submit" id="publish" class="nextLink" style="background:#20638e;border-radius:4px;">发布</a>
            	<a href="javascript:;" class="retnLink reset" onclick="window.location.reload()">重置</a>
			#end
            </p>

		</div>
            
      </div>
    </div>
	
    </form>
</div>

#parse("layout/suppliercenter/footer.vm")
</body>
</html>