<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/task  
    http://www.springframework.org/schema/task/spring-task-3.2.xsd">



	<!-- 扫描文件（自动将servicec/dao层注入） -->
	<context:component-scan base-package="com.kpluswebup.web" />
	<context:component-scan base-package="com.kpuswebup.comom.util" />


	<!-- 默认的MVC注解映射的支持 -->
	<mvc:annotation-driven />

	<!-- 激活spring的注解. -->
	<context:annotation-config />

	<!-- 避免IE在ajax请求时，返回json出现下载 -->
	<bean id="jacksonMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>



	<import resource="classpath:spring-mysql-db.xml" />

	<import resource="classpath:spring-context-adminsystem.xml" />

	<import resource="classpath:spring-exception.xml" />

	<import resource="classpath:dispatcher-servlet.xml" />


	<!-- Controller配置 -->
	<!-- 自动扫描controller -->
	<context:component-scan base-package="com.kpluswebup.web.controller.order"></context:component-scan>

	<!-- task任务扫描注解 -->
	<task:annotation-driven />


</beans>