<!DOCTYPE html>
<html>
<head>
<title>找回密码</title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="$!{mallStatic}/css/global.css">
<link rel="stylesheet" type="text/css" href="$!{mallStatic}/style/login.css">
<link rel="stylesheet" type="text/css" href="$!{mallStatic}/style/pwd4.css">
<script type="text/javascript" src="$!{mallStatic}/js/jquery-1.11.0.min.js"></script>
</head>
<body>
	<!-- 头部 -->
	<div class="header">
		<div class="w">
			<div class="zl">
				<a href="$!{domain}/index.htm" style="background:url($!{imgurl}$!shopLogo) no-repeat 0 0;"></a>
			</div>
			<ul class="zr">
				<li><a href="$!{domain}/mall/member/registerPage.htm">注册</a></li>
				<li class="spacer"></li>
				<li><a href="$!{domain}/mall/member/toLogin.htm">登录</a></li>
				<li class="spacer"></li>
				<li><a href="$!{domain}/index.htm">首页</a></li>
				<li class="spacer"></li>
				<li><a href="$!{domain}/mall/helps/helpsCenter.htm" target="_blank">帮助中心</a></li>
			</ul>
			<span class="clean_up"></span>
		</div>
	</div>
	
    <!-- 内容 -->
	<div class="content matter">
		<div class="ct">
			<div class="step"></div>
			<form id="sumbitForm" action="$!{domain}/mall/member/forgetPassword3.htm" method="post">
				<div class="detail">
					<div class="tc">
						<div class="sj" style="margin-bottom:6px;">
							<span class="d1">新的登录密码：</span><span>
								<input name="userName" type="hidden" value="$!{userName}">
								<input name="password" type="text" class="ipt long password" placeholder="新的登录密码">
								<em class="prompt_1 col05"></em></span>
						</div>
						<div class="sj" style="margin-top:20px;">
							<span class="d1">确认新的登录密码：</span><span>
								<input name="repassword" type="text" class="ipt long repassword" placeholder="确认新的登录密码" class="vf">
								<em class="prompt_1 col05"></em></span>
						</div>
						<div class="sj" style="margin-top:20px;">
							<span class="d1"></span><span><a href="javascript:;" class="sure">确定</a></span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
    
	#parse("layout/bottom.vm")
</body>
<script type="text/javascript">
jQuery(".password").blur(function(){
	var password = jQuery(this).val();
	var reg = /^[a-zA-Z0-9]{6,16}$/;
	if(password == null|| password ==　""){
		jQuery(".password").parent().find(".prompt_1").removeClass("ok").addClass("error").html("密码不能为空！");
	}else if(!reg.test(password)){
		jQuery(".password").parent().find(".prompt_1").removeClass("ok").addClass("error").html("密码格式错误！");
	}else{
		jQuery(".password").parent().find(".prompt_1").removeClass("error").addClass("ok").html("");
	}
})
jQuery(".repassword").blur(function(){
	var repassword = jQuery(".repassword").val();
	var password = jQuery(".password").val();
	var reg = /^[a-zA-Z0-9]{6,16}$/;
	if(repassword == "" || repassword == null){
		jQuery(".repassword").parent().find(".prompt_1").removeClass("ok").addClass("error").html("确认密码不能为空！");
	}else if(!reg.test(password)){
		jQuery(".repassword").parent().find(".prompt_1").removeClass("ok").addClass("error").html("确认密码格式错误！");
	}else if(repassword != password){
		jQuery(".repassword").parent().find(".prompt_1").removeClass("ok").addClass("error").html("两次密码不一致，请核对！");
	}else{
		jQuery(".repassword").parent().find(".prompt_1").removeClass("error").addClass("ok").html("");
	}
})
jQuery(".sure").click(function(){
    jQuery(".password").blur();
    jQuery(".repassword").blur();
    var errorobj = jQuery(".error");
    if(errorobj.length > 0){
    	return;
    }else{
        jQuery("#sumbitForm").submit();
    }
})
</script>
</body>
</html>
