<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>积分礼品</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
#parse("control/public_css_js.vm")
</head>
<style>
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #efefef;
	min-width: 1020px;
}
</style>
<body>
	<!--header S-->
	#parse("layout/head.vm") 
	<!--header E-->

	<div class="main clearfix">
		<div class="conTit">
			<span>营销工具 》积分礼品</span>
		</div>
		<div class="searchBar">

			<form id="serachform" name="serachform" method="post" action="$!{domain}/admin/product/integralProductList.htm">
			<input type="hidden" id="pageNo" name="pageNo" value="$!productDTO.pageNo">
			<input type="hidden" id="pageSize" name="pageSize" value="$!productDTO.pageSize">	

				<table class="searchTable">
					<tbody>
						<tr>

							<td><span class="grayF"> 产品编号：</span><input type="text" name="searchProductId" class="cText" value="$!productDTO.mainID" /></td>
							<td><span class="grayF"> 产品名称：</span><input type="text" name="serchname" class="cText" value="$!productDTO.name" /></td>
							<td><span class="grayF"> 产品状态：</span>
							 <select name="serchstatus" id="serchstatus">
									<option value="">无</option>
									<option value="1" #if("$!productDTO.status"=="1")  selected #end>上架</option>
									<option value="0" #if("$!productDTO.status"=="0")  selected #end>下架</option>
							</select></td>
							<td rowspan="3">
								#if($!menuUtil.isExistMenu("/admin/product/integralProductList",$!menuAllList)
								) <input class="searchBtn" type="button" value="搜索"
								onclick="userSearch(1)" /> #end
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		<div class="tableListBar">

			<div class="tableTool">
				<a href="javascript:;" title="全选" id="selectAll"><em
					class="icon iconAllSel"></em></a> <a href="javascript:;" title="反选"
					id="unSelect"><em class="icon iconInverse"></em></a>
				#if($!menuUtil.isExistMenu("/admin/product/addIntegralProductPage.htm",$!menuAllList)
				) <a href="$!{domain}/admin/product/addIntegralProductPage.htm" class="TableAddBtn"
					title="新增礼品">+新增礼品</a> #end
			</div>
			<form id="serachform" name="serachform" method="post"
				action="$!{domain}/admin/product/integralProductList.htm">
				<input type="hidden" id="pageNo" name="pageNo"
					value="$!productDTO.pageNo"> <input type="hidden"
					id="pageSize" name="pageSize" value="$!productDTO.pageSize">
			</form>
			<table class="tableList grid">
				<thead>
					<tr>
						<td><label class="label"> <input type="checkbox"
								value="" id="all" /></label></td>

						<td style="width: 200px">产品编号</td>
						<td>名称</td>
						<td>类型</td>
						<td>品牌</td>
						<td>分类</td>
						<td>计量单位</td>
						<td>状态</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody id="list">
					#foreach( $!productVO in $!productList)
					<tr>
						<td><label class="label"> <input type="checkbox" value="$!productVO.mainID" id="check_box_$!productVO.mainID" /></label></td>
						<td>
							#if($!menuUtil.isExistMenu("/admin/product/productDetail.htm",$!menuAllList)) <a
							href="$!{domain}/admin/product/productDetail.htm?mainID=$!productVO.mainID">$!productVO.mainID</a>
							#end
						</td>
						<td>$!productVO.name</td>
						<td>$!productVO.productTypeName</td>
						<td>$!productVO.brandName</td>
						<td>#if("$!productVO.catalog"=="3") 积分产品 #end</td>
						<td>$!productVO.unit</td>
						<td>#if("$!productVO.status"=="1")上架 #end
							#if("$!productVO.status"=="0") 下架 #end
							</td>

						<td class="last">
							#if($!menuUtil.isExistMenu("/admin/product/editIntegralProductPage.htm",$!menuAllList)
							) <a class="icon iconEdit"
							href="$!{domain}/admin/product/editIntegralProductPage.htm?mainID=$!productVO.mainID"
							title="编辑"></a> #end &nbsp;
							#if($!menuUtil.isExistMenu("/admin/product/deleteProduct.do",$!menuAllList)
							) <a href="javascript:;" class="icon iconDel"
							onclick="deleteProduct('$!productVO.mainID')" title="删除"></a>
							#end
							#if($!menuUtil.isExistMenu("/admin/product/updateProductStatus.do",$!menuAllList)
							) #if("$!productVO.status"=="1")<a href="javascript:;"
							onclick="updateProductStatus('$!productVO.mainID','0')" title="下架" class="icon iconUndercarriage"></a>
							#end #if("$!productVO.status"=="0") <a href="javascript:;" class="icon iconGrounding"
							onclick="updateProductStatus('$!productVO.mainID','1')" title="上架" ></a>
							#end #end

						</td>

					</tr>
					#end #pagination($!productDTO)
				</tbody>
			</table>
		</div>
	</div>
	#parse("layout/footer.vm")
</body>
</html>
