<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>编辑商品预售</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
#parse("control/public_css_js.vm")
</head>
<style>
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #efefef;
	min-width: 1020px;
}
</style>
<body>
	<!--header S-->
	#parse("layout/head.vm") 
	<!--header E-->
	<div class="main clearfix">
		<div class="conTit">
			<span>营销工具》商品预售》编辑商品预售</span>
		</div>
		<div class="clear"></div>
		<!--TAB S-->
		<div class="tabBar clearfix">
			<div class="contentLf tabList">
				<ul>
					<li><em class="icon arrowLfWeight"></em> <a
						href="javascript:;" class="hover">编辑商品预售</a></li>
				</ul>
			</div>
			<div class="contentRt">
				<div class="contRt">
					<form id="editPreSaleForm"
						action="$!{domain}/admin/promotion/updatePreSale.htm"
						method="post" enctype="multipart/form-data">
						<input type="hidden" name="mainID" value="$!preSale.mainID" />
						<!--form  S------->
						<div class="systemBar">
							<dl class="formSet">
								#parse("layout/searchitem.vm")
								<dd class="clearfix">
									<div class="formTt">图片：</div>
									<div class="formRow">
										<input type="hidden" value="$!preSale.picUrl"
											class="cText cTextLen" name="picUrl" id="picURL"> <img
											id="uploadImage" #if("$!preSale.picUrl"!=""
											)src="$!preSale.picUrl" #else src="" #end>   <input
											type="file" id="myBlogImage" name="myfiles"
											onchange="ajaxFileUpload()" />
									</div>
								</dd>
								<dd class="clearfix">
									<div class="formTt">预售价格：</div>
									<div class="formRow">
										<input type="text" class="cText cTextLen" name="salesPrice"
											value="$!NumberTool.format('#0.00',$!preSale.salesPrice)" />
									</div>
								</dd>
								<dd class="clearfix">
									<div class="formTt">预售数量：</div>
									<div class="formRow">
										<input type="text" class="cText cTextLen" name="maxmumQty"
											value="$!preSale.maxmumQty" />
									</div>
								</dd>
								<dd class="clearfix">
									<div class="formTt">开始时间：</div>
									<div class="formRow">
										<input class="cText" type="text" name="fromDateStr"
											value="$!date.format('yyyy-MM-dd HH:mm:ss',$!preSale.fromDate)"
											onclick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})"
											readonly="readonly">
									</div>
								</dd>
								<dd class="clearfix">
									<div class="formTt">结束时间：</div>
									<div class="formRow">
										<input class="cText" type="text" name="endDateStr"
											value="$!date.format('yyyy-MM-dd HH:mm:ss',$!preSale.endDate)"
											onclick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})"
											readonly="readonly">
									</div>
								</dd>
								<dd class="clearfix">
									<div class="formTt">说明：</div>
									<div class="formRow">
										<textarea rows="7" cols="75" name="description">$!preSale.description</textarea>
									</div>
								</dd>
								<dd class="clearfix">
									<div class="formTt">&nbsp;</div>
									<div style="margin-top: 15px;" class="formRow">
										<input type="button" class="save"
											onclick="submitEditPreSaleForm();" value="提交"> <input
											type="reset" name="cencle" class="cencle" value="重置">
									</div>
								</dd>
							</dl>
						</div>
					</form>
					<!--form  E------->
				</div>
			</div>
		</div>
		<!--TAB e-->
	</div>
	#parse("layout/footer.vm")
</body>
</html>
