<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>适用范围</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
#parse("control/public_css_js.vm")
</head>
<style>
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	/* 		overflow: hidden; */
	background: #efefef;
	min-width: 1020px;
}
</style>
<body>
	<!--header S-->
	#parse("layout/head.vm") 
	<!--header E-->
	<div class="main clearfix">
		<div class="conTit">
			<span>营销工具》满送促销》适用范围</span>
		</div>
		<div class="userInfoBar">
			<div class="userInfos">
				<dl class="clearfix">
					<dd class="fl">
						<table class="userTable">
							<tbody>
								<tr>
									<td><em class="grayF">名称：</em>$!promotionVO.name</td>
									<td><em class="grayF">类型：</em>#if("$!promotionVO.type"=="1")满额减额
										#elseif("$!promotionVO.type"=="2")满额赠品
										#elseif("$!promotionVO.type"=="3")满额免邮
										#elseif("$!promotionVO.type"=="4")满额打折
										#elseif("$!promotionVO.type"=="5")满额赠券
										#elseif("$!promotionVO.type"=="6")注册赠券
										#elseif("$!promotionVO.type"=="7")满件送件
										#elseif("$!promotionVO.type"=="8")满件免邮
										#elseif("$!promotionVO.type"=="9")买就减额
										#elseif("$!promotionVO.type"=="10")买就赠品
										#elseif("$!promotionVO.type"=="11")买就免邮
										#elseif("$!promotionVO.type"=="12")买就打折
										#elseif("$!promotionVO.type"=="13")买就赠券 #end</td>
									<td></td>
								</tr>
								<tr>
									<td><em class="grayF">有效期：</em>$!date.format("yyyy-MM-dd
										HH:mm:ss",$!promotionVO.fromDate) 至 $!date.format("yyyy-MM-dd
										HH:mm:ss",$!promotionVO.endDate)</td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</dd>
					<dd class="fr" style="margin-top: 35px;"></dd>
				</dl>
			</div>
		</div>
		<div class="clear"></div>
		<div class="tabBar clearfix">
			<div class="contentLf tabList">
				<ul>
					<li><a
						href="$!{domain}/admin/promotion/promotionInfo.htm?mainId=$!promotionVO.mainID">基本信息</a></li>
					<li><em class="icon arrowLfWeight"></em><a class="hover"
						href="$!{domain}/admin/promotion/promotionSetDetail.htm?promotionID=$!promotionVO.mainID">适用范围</a></li>
				</ul>
			</div>
			<div class="contentRt">
				<div class="contRt">
					<!--form  S------->
					<div class="systemBar">
						<dl class="formSet">
							#if($!productTypeList.size()>0)
							<dd class="clearfix">
								<div class="formTt">产品类型：</div>
								<div class="formRow" style="width: 80%;">
									#foreach($!productType in $!productTypeList)
									$!productType.name&nbsp;&nbsp; #end</div>
							</dd>
							#end #if($!productCategoryList.size()>0)
							<dd class="clearfix">
								<div class="formTt">产品类目：</div>
								<div class="formRow" style="width: 80%;">
									#foreach($!productCategory in $!productCategoryList)
									$!productCategory.name&nbsp;&nbsp; #end</div>
							</dd>
							#end #if($!productList.size()>0)
							<dd class="clearfix">
								<div class="formTt">产品：</div>
								<div class="formRow" style="width: 80%;">
									#foreach($!product in $!productList) $!product.name&nbsp;&nbsp;
									#end</div>
							</dd>
							#end #if($!itemList.size()>0)
							<dd class="clearfix">
								<div class="formTt">商品：</div>
								<div class="formRow" style="width: 80%;">#foreach($!item
									in $!itemList) $!item.name&nbsp;&nbsp; #end</div>
							</dd>
							#end
						</dl>
					</div>
					<!--form  E------->
				</div>
			</div>
		</div>
	</div>
	#parse("layout/footer.vm")
</body>
</html>
