<div class="foot">
	<div class="w">
		<div class="v">
			<ul class="fr">
				<li>浙ICP备13033284号-2</li>
				<li class="spacer"></li>
				<li>杭州普照科技有限公司</li>
			</ul>
		</div>
		<div class="v">
			<ul class="fr">
				<li class="#" style="color: #666666;">Copyright 卡塔网络 2015-2025
					, All rights Reserved</li>
			</ul>
		</div>

	</div>
</div>