div.mcdropdown {
position:absolute;
border:1px solid #ccc;
display:inline-block;
width:408px;
height:23px;
padding:2px;
}

div.mcdropdown input,div.mcdropdown div {
position:absolute;
background-color:#fff;
left:0;
top:0;
width:98%;
height:26px;
border:0;
font:11px Arial,Helvetica,sans-serif;
padding:0 0 0 3px;
}

div.mcdropdown a {
position:absolute;
right:1px;
top:5px;
background:transparent url(../img/mcdropdown/mcdd_select_button_sprite.gif) no-repeat top left;
display:inline-block;
height:16px;
width:15px;
text-decoration:none;
font-size:0;
z-index:2;
outline:0;
}