<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>基本信息</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
#parse("control/public_css_js.vm")
</head>
<style>
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #efefef;
	min-width: 1020px;
}
</style>
<body>
	<!--header S-->
	#parse("layout/head.vm") 
	<!--header E-->
	<div class="main clearfix">
		<div class="conTit">
			<span>系统配置》基本信息</span>
		</div>
		<div class="clear"></div>
		<!--TAB S-->

		<div class="tabBar clearfix">
			<div class="contentLf tabList">
				<div class="contentLf tabList">
					<ul class="member_menu">
						#if($!menuUtil.isExistMenu("/admin/system/generalList.htm",$!menuAllList)
						)
						<li><em class="icon arrowLfWeight"></em> <a
							href="$!{domain}/admin/system/generalList.htm" class="hover">基本信息</a></li>
						#end
						#if($!menuUtil.isExistMenu("/admin/system/seoList.htm",$!menuAllList)
						)
						<li><a href="$!{domain}/admin/system/seoList.htm">SEO信息</a></li>
						#end
						#if($!menuUtil.isExistMenu("/admin/system/useragreementList.htm",$!menuAllList)
						)
						<li><a href="$!{domain}/admin/system/useragreementList.htm">会员注册协议</a></li>
						#end
						#if($!menuUtil.isExistMenu("/admin/system/serviceList.htm",$!menuAllList)
						)
						<li><a href="$!{domain}/admin/system/serviceList.htm">客服配置</a></li>
						#end
					</ul>
				</div>
			</div>
			<div class="contentRt">
				<div class="contRt">
					<form action="/admin/system/addGeneral.htm" method="post"  id = "genderForm">
						<!--form  S------->
						<div class="systemBar">
							<dl class="formSet">
								<dd class="clearfix">
									<div class="formTt">商城名称：</div>
									<div class="formRow">
										<input type="text" value="$!generalVO.name" name="name"
											class="cText cTextLen">
									</div>
								</dd>
								<dd class="clearfix">
									<div class="formTt">商城logo：</div>
									<div class="formRow">
										<input type="hidden" class="cText cTextLen" name="picUrl"
											id="picURL" value="$!generalVO.picUrl"> <img style="width: 70px;height:70px;"
											id="uploadImage" #if("$!generalVO.picUrl"!=""
											)src="$!generalVO.picUrl" #else src="$!{adminStatic}theme/default/images/default-img.png" #end>   <input
											type="file" id="myBlogImage" name="myfiles"
											onchange="ajaxFileUpload1s()" />
									</div>
								</dd>
								<dd class="clearfix">
									<div class="formTt">商城主域名：</div>
									<div class="formRow">
										<input type="text" value="$!generalVO.domain" name="domain"
											class="cText cTextLen">
									</div>
								</dd>
								<dd class="clearfix">
									<div class="formTt">页尾：</div>
									<div class="formRow">
										<textarea rows="5" cols="80" name="pageFoot" id="text_content">$!generalVO.pageFoot</textarea>
									</div>
								</dd>
								<dd class="clearfix">
									<div class="formTt">&nbsp;</div>
									<div style="margin-top: 15px;" class="formRow">
										#if($!menuUtil.isExistMenu("/admin/system/serviceList.htm",$!menuAllList)
										) <input type="button" class="save" value="提交"> <input
											type="reset" name="cencle" class="cencle" value="重置">
										#end
										
#if($!menuUtil.isExistMenu("/admin/system/addGeneral.htm",$!menuAllList))
										测试
										#end
									</div>
								</dd>
							</dl>
						</div>
					</form>
					<!--form  E------->
				</div>
			</div>
		</div>
		<!--TAB e-->
	</div>
	<script type="text/javascript">
	jQuery(".save").click(function(){
		jQuery("#genderForm").submit();
	})
	
	function ajaxFileUpload1s() {
		jQuery.ajaxFileUpload({
			url : '$!{domain}/file/fileUpload.do',
			secureuri : false,// 是否启用安全提交,默认为false
			fileElementId : 'myBlogImage',// 文件选择框的id属性
			dataType : 'text',// 服务器返回的格式,可以是json或xml等
			success : function(data, status) {
				data = data.replace("<PRE>", '');// ajaxFileUpload会对服务器响应回来的text内容加上<pre>text</pre>前后缀
				data = data.replace("</PRE>", '');
				data = data.replace("<pre>", '');
				data = data.replace("</pre>", ''); // 本例中设定上传文件完毕后,服务端会返回给前台[0`filepath] 
				if (data.substring(0, 1) == 0) {// 0表示上传成功(后跟上传后的文件路径),1表示失败(后跟失败描述)
					$("img[id='uploadImage']").attr("src",
							"$!{domain}"+data.substring(2));
					$("#uploadImage").show();
					$("#picURL").val(data.substring(2));
					$('#result').html("图片上传成功<br/>");
				} else {
					$('#result').html('图片上传失败，请重试！！');
				}
			},
			error : function(data, status, e) { // 服务器响应失败时的处理函数
				$('#result').html('图片上传失败，请重试！！');
			}
		});
	}
	</script>
</body>
</html>
