<div class="menu f1">
    <div class="clearfix headerNav">
        
        <ul class="navList">         
            #foreach($!menu  in $!menuList)
            <li class="navLi">
                <a class="navLink" href="$!{domain}$!menu.functionURL">$!menu.name#if($!velocityCount!=1)<em class="icon arrowUp"></em>#end</a>
                <ul class="navUiSe none">
                    #foreach($!menuchild  in $!menu.childList )
                    <li class="navLiSe"><a  href="$!{domain}$!menuchild.functionURL">$!menuchild.name</a></li>
                    #end
                </ul>                            
            </li>
           #end                    
        </ul>
        <div class="clear"></div>
    </div>
</div> 
