<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>申请退换货</title>
<link rel="stylesheet" href="$!{mallStatic}/css/shopcart.css">
<link rel="stylesheet" type="text/css" href="$!{mallStatic}/css/global.css">
</head>
<body>
	<!-- top bar -->
	#parse("layout/head_top.vm")
	<!-- crumb -->
	<div id="crumb" class="mt10">
		<div class="layout clearfix">
			<a href="$!{domain}/index.htm">首页</a> &gt; 申请退换货
		</div>
	</div>
	<div class="layout mt10 clearfix">
		<ul class="exchange_bar clearfix">
			<li class="active"><div class="step1">
					<span>STEP.1</span>买家 申请退换货
				</div></li>
			<li><div class="step2">
					<span>STEP.2</span>商家 处理退换申请
				</div></li>
			<li class="last"><div class="step3">
					<span>STEP.3</span>完成退换货
				</div></li>
		</ul>
		<div class="shopcart">
			<div id="apply_sel">
				<span>我要换货</span> <span>我要退货</span>
			</div>
			<div id="apply_detail">
				<div class="apply_titbar tab">
					<span>我要换货</span> <span>我要退货</span>
				</div>
				<div class="con">
					<div class="none">
						<div class="info_form">
							<p class="ts">请详细描述您的换货原因与选择需要退回的物品类型，以方便我们更快捷的为您做换货处理。</p>
							<input type="hidden" class="orderID"
								value="$!{salesOrder.mainID}">
							<dl class="clearfix">
								<dt>换货原因</dt>
								<dd>
									<select name="memo" class="memo">
										<option value="">请选择换货原因</option>
										<option value="商品错发">商品错发</option>
										<option value="商品运送时有破损">商品运送时有破损</option>
										<option value="商品存在质量问题">商品存在质量问题</option>
										<option value="收到假货">收到假货</option>
									</select>
								</dd>
							</dl>
							<dl class="clearfix">
								<dt>需换货的商品</dt>
								<dd>
									#foreach($!item in $!itemList) <input type="hidden"
										value="$!item.itemID" class="itemID"> <a
										href="javascript:;" class="pro_sel"
										data-transactionPrice="$!{item.transactionPrice}"
										data-itemCount="$!item.itemCount"
										data-scoreTotal="$!item.salesScore"><img
										src="$!{imgurl}$!{item.itemPicUrl}" title="$!{item.itemName}"></a>
									#end
								</dd>
							</dl>
							<dl class="clearfix">
								<dt>需换货的数量</dt>
								<dd class="number_control" data-max="">
									<span><a class="prev" href="javascript:;"></a><input
										type="text" value="1" class="number"><a class="next"
										href="javascript:;"></a></span>
								</dd>
							</dl>
							<dl class="clearfix">
								<dt>换货说明</dt>
								<dd>
									<textarea name="description" class="txtbox description"
										placeholder="请填写您需要调换的商品类型、详细描述、原因"></textarea>
								</dd>
								<dd>
									<input name="" type="button" class="stn changeOrderApply"
										value="提交申请">
								</dd>
							</dl>
						</div>
					</div>
					<div class="none">
						<div class="info_form">
							<p class="ts">请详细描述您的退货原因与选择需要调换的物品类型以及详细描述，以方便我们更快捷的为您做退货处理。</p>
							<dl class="clearfix">
								<dt>退货原因</dt>
								<dd>
									<select name="memo" class="memo">
										<option value="">请选择退货原因</option>
										<option value="商品错发">商品错发</option>
										<option value="商品运送时有破损">商品运送时有破损</option>
										<option value="商品存在质量问题">商品存在质量问题</option>
										<option value="颜色款式不是自己想要的">颜色款式不是自己想要的</option>
									</select>
									<em class="prompt_1 col05" ></em>
								</dd>
							</dl>
							<dl class="clearfix">
								<dt>需退货的商品</dt>
								<dd>
									#foreach($!item in $!itemList) <input type="hidden"
										value="$!item.itemID" class="itemID"> <a
										href="javascript:;" class="pro_sel"
										data-transactionPrice="$!{item.transactionPrice}"
										data-itemCount="$!item.itemCount"
										data-scoreTotal="$!item.salesScore"><img
										src="$!{imgurl}$!{item.itemPicUrl}" title="$!{item.name}"></a>
									<input type="hidden" value="$!item.type" class="type">
									#end
								</dd>
							</dl>
							<dl class="clearfix">
								<dt>需退换的数量</dt>
								<dd class="number_control" data-max="">
									<span><a class="prev" href="javascript:;"></a><input
										type="text" value="1" class="number"><a class="next"
										href="javascript:;"></a><em class="prompt_1 col05" ></em></span>
										
								</dd>
							</dl>
							<dl class="clearfix">
								<dt>退货说明</dt>
								<dd>
									<textarea name="description" class="txtbox description"
										placeholder="请填写您退货的详细原因"></textarea>
								</dd>
								<dd>
									<input name="" type="submit" class="stn returnOrderApply"
										value="提交申请">
								</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pro_unit mt10">
			<div class="titbar_m">
				<strong>订单信息</strong>
			</div>
			<table cellspacing="0" cellpadding="0" class="dd">
				<tr>
					<th>订单编号：</th>
					<td width="450"><input type="hidden"
						value="$!{salesOrder.mainID}" class="orderID">$!{salesOrder.mainID}</td>
					<th>订单状态：</th>
					<td><em class="col03">
							#if("$!salesOrder.orderStatus"=="0") 已取消
							#elseif("$!salesOrder.orderStatus"=="1") 待确认
							#elseif("$!salesOrder.orderStatus"=="2") 待出库
							#elseif("$!salesOrder.orderStatus"=="3") 待发货
							#elseif("$!salesOrder.orderStatus"=="4") 已发货
							#elseif("$!salesOrder.orderStatus"=="5") 已收货
							#elseif("$!salesOrder.orderStatus"=="6") 已完成
							#elseif("$!salesOrder.orderStatus"=="7") 退货申请中 #end </em></td>
				</tr>
				<tr>
					<th>支付方式：</th>
					<!-- 1：余额支付2：货到付款3：在线支付4：积分礼品5：线下汇款 -->
					<td>#if("$!salesOrder.paymentType"=="1") 支付宝
						#elseif("$!salesOrder.paymentType"=="2")货到付款 #end</td>
					<th>成交金额：</th>
					<td>#if("$!salesOrder.paymentType"=="3") <em class="coin">$!NumberTool.format("#0",$!salesOrder.scoreTotal)</em>
						#else
						#if("$!salesOrder.totalAmount"!=""&&$!salesOrder.totalAmount!=0.0)
						<em class="col01">￥
							$!NumberTool.format("#0.00",$!salesOrder.totalAmount)</em> #end
						#if("$!salesOrder.totalAmount"!=""&&$!salesOrder.totalAmount!=0.0&&"$!salesOrder.scoreTotal"!=""&&$!salesOrder.scoreTotal!=0)
						+#end
						#if("$!salesOrder.scoreTotal"!=""&&$!salesOrder.scoreTotal!=0) <em
						class="coin">$!NumberTool.format("#0",$!salesOrder.scoreTotal)</em>
						#end #end
					</td>
				</tr>
				<tr>
					<th>成交时间：</th>
					<td>$!date.format('yyyy-MM-dd
						HH:mm:ss',$!{salesOrder.modifyTime})</td>
					<th>配送方式：</th>
					<td></td>
				</tr>
				<tr>
					<th>发货物流公司：</th>
					<td width="450">$!{expressVO.name}</td>
					<th>运单号：</th>
					<td>$!{salesOrder.expressNumber}</td>
				</tr>
				<tr>
					<th>收货信息：</th>
					<td colspan="3">$!{orderAddress.provinceName}$!{orderAddress.cityName}$!{orderAddress.districtName}$!{orderAddress.address}
						$!{orderAddress.name} $!{orderAddress.mobile}</td>
				</tr>
			</table>
		</div>

	</div>
	<!-- footer -->
	#parse("layout/footer.vm")
	<script type="text/javascript" src="$!{mallStatic}/js/jquery-1.11.0.min.js"></script>
	<script>
		$(function() {

			$("#apply_sel span").hover(function() {
				$(this).attr('class', 'cur');
			}, function() {
				$(this).removeAttr('class');
			})
			$("#apply_sel span").click(
					function() {
						var n = $("#apply_sel span").index(this);
						$("#apply_sel").hide(200);
						$("#apply_detail").show(300);
						$("#apply_detail .apply_titbar span").eq(n).attr(
								"class", "cur");
						$("#apply_detail .con .none").eq(n).addClass("cur");
					})
			$("#apply_detail")
					.on(
							"click",
							".info_form dd .pro_sel",
							function() {
								var a = $(this).attr("data-itemCount");
								$(this).closest("dl").next("dl").find(
										".number_control").find(".number").val(
										1);
								$(this).addClass('cur').siblings().removeClass(
										'cur');
								$(this).closest("dl").next("dl").find(
										".number_control").attr("data-max", a);
							})

		})
		jQuery(".changeOrderApply")
				.click(
						function() {
							var orderID = jQuery(".orderID").val();
							var memo = jQuery(".memo:eq(0)").val();
							var itemID = jQuery(".info_form:eq(0) .pro_sel.cur")
									.prev().val();
							var type = jQuery(".info_form:eq(0) .pro_sel.cur")
									.next().val();
							var number = jQuery(".number:eq(0)").val();
							var description = jQuery(".description:eq(0)")
									.val();
							var transactionPrice = jQuery(
									".info_form:eq(0) .pro_sel.cur").attr(
									"data-transactionPrice");
							var scoreTotal = jQuery(
									".info_form:eq(0) .pro_sel.cur").attr(
									"data-scoreTotal");
							var itemcount = jQuery(".info_form:eq(0) .pro_sel.cur").attr("data-itemCount");
							if (memo == "") {
								alert("请选择换货原因");
								return;
							} else if (itemID == null && itemID == "") {
								alert("商品编号不存在");
								return;
							} else if (jQuery(".info_form:eq(0) .pro_sel.cur").length == 0) {
								alert("请选择要申请退换的商品！");
								return;
							} else if(itemcount<number || number<1){
								alert("换货数量输入不成功！，请重新选择！");
								return;
							} else if(description == "" || description == null){
								alert("请填写换货说明！");
								return;
							}else {
								jQuery
										.ajax({
											url : "ajaxCheckReturnOrder.do",
											type : "POST",
											data : {
												'itemID' : itemID,
												'type' : type,
												'orderID' : orderID
											},
											dataType : "json",
											success : function(data) {
												if (data.code == 0) {
													if (data.result) {
														window.location.href = "$!{domain}/mall/buyer/saveSaleOrderReturnApply.htm?orderID="
																+ orderID
																+ "&memo="
																+ memo
																+ "&itemID="
																+ itemID
																+ "&number="
																+ number
																+ "&description="
																+ description
																+ "&returnType=2&type="
																+ type
																+ "&transactionPrice="
																+ transactionPrice
																+ "&salesScore="
																+ scoreTotal;
													} else {
														alert("该商品已申请过!");
													}
												} else {
												}
											},
											error : function() {
											}
										});
							}
						})
		jQuery(".returnOrderApply")
				.click(
						function() {
							var orderID = jQuery(".orderID").val();
							var memo = jQuery(".memo:eq(1)").val();
							var itemID = jQuery(".info_form:eq(1) .pro_sel.cur")
									.prev().val();
							var type = jQuery(".info_form:eq(1) .pro_sel.cur")
									.next().val();
							var number = jQuery(".number:eq(1)").val();
							var description = jQuery(".description:eq(1)")
									.val();
							var transactionPrice = jQuery(
									".info_form:eq(1) .pro_sel.cur").attr(
									"data-transactionPrice");
							var scoreTotal = jQuery(
									".info_form:eq(1) .pro_sel.cur").attr(
									"data-scoreTotal");
							var itemcount = jQuery(".info_form:eq(1) .pro_sel.cur").attr("data-itemCount");
							if (memo == "") {
								alert("请选择退货原因");
								return;
							} else if (itemID == null && itemID == "") {
								alert("商品编号不存在");
								return;
							} else if (jQuery(".info_form:eq(1) .pro_sel.cur").length == 0) {
								alert("请选择要申请退换的商品！");
								return;
							} else if(itemcount < number || number < 1){
								alert("退货数量输入不成功，请重新输入");
								return;
							} else if(description == "" || description == null){
								alert("请填写退货货说明！");
								return;
							}else {
								//alert("成功");
								 jQuery
										.ajax({
											url : "ajaxCheckReturnOrder.do",
											type : "POST",
											data : {
												'itemID' : itemID,
												'type' : type,
												'orderID' : orderID
											},
											dataType : "json",
											success : function(data) {
												if (data.code == 0) {
													if (data.result) {
														window.location.href = "$!{domain}/mall/buyer/saveSaleOrderReturnApply.htm?orderID="
																+ orderID
																+ "&memo="
																+ memo
																+ "&itemID="
																+ itemID
																+ "&number="
																+ number
																+ "&description="
																+ description
																+ "&returnType=1&type="
																+ type
																+ "&transactionPrice="
																+ transactionPrice
																+ "&salesScore="
																+ scoreTotal;
													} else {
														alert("该商品已申请过!");
													}
												} else {
												}
											},
											error : function() {
											}
										});  
							}
						})
	</script>
</body>
</html>
