<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>账户安全</title>
</head>
<body>
<!-- top bar -->
#parse("layout/head_top.vm")
#parse("layout/customercenter/header.vm")
<!-- crumb -->
<div id="crumb">
	<div class="layout clearfix">
    	<a href="${domain}/index.htm">首页</a> &gt; <a href="${domain}/mall/buyer/userCenter.htm">用户中心</a>
    </div>
</div>
<div class="layout mt10 clearfix">
#parse("layout/customercenter/leftmenu.vm")
    <div class="mainbody bg">
    	<div class="titbar_m mt10">
        	<strong>账户安全</strong>
        </div>
        <form action="$!{domain}/mall/buyer/updatePassword.htm" method="post" id="passwordForm">
        	<input type="hidden" name="mainID" value="$!{user.mainID}">
        <div class="info_form">
       	  <p class="ts">安全提醒：主妥善保管密码！卡塔网络的工作人员不会以任何理由向您索要密码。</p>
            <dl class="clearfix">
            	<dt>原始密码</dt>
                <dd><input name="password" id="password" type="password" class="ipt" onblur="yzpassword();">
                #if($!error)
                 <span class="wrong">原密码错误!</span>
                 #else
                 <span>请输入6-16个字符</span>
                 #end
                 </dd>
            </dl>
            <dl class="clearfix">
            	<dt>设置新密码</dt>
                <dd><input name="newpassword" id="newpassword" type="password" class="ipt" onblur="yznewpassword();"> <span></span></dd>
            </dl>
            <dl class="clearfix">
            	<dt>确认新密码</dt>
                <dd><input name="passwordagain" id="passwordagain" type="password" class="ipt" onblur="yzpasswrodagain();"> <span></span></dd>
            </dl>
            <dl class="clearfix">
                <dd><input name="" onclick="updatePassword();" type="button" class="stn" value="保 存"></dd>
            </dl>
        </div>
    	</form>
    </div>	
</div>
<!-- footer -->
#parse("layout/footer.vm")
<script type="text/javascript">
jQuery(document).ready(function(){
  jQuery("#user_security_cur").addClass("active cur").siblings(".level0").removeClass("cur");
});

</script>
</body>
</html>
