<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>收货地址</title> 
<link rel="stylesheet" type="text/css" href="$!{mallStatic}/css/global.css">
<link rel="stylesheet" type="text/css" href="$!{mallStatic}/css/user.css">
<style>
/***错误提示样式***/
form.cmxform label.error,label.error {
	color: red;
}
</style>
</head>
<body>
<!-- top bar -->
	#parse("layout/head_top.vm")
<!-- sider tool bar  -->
	#parse("layout/head_sider.vm")
<!-- 主导航 -->
	#parse("layout/menu.vm")
<!-- body头部 -->
	#parse("layout/customercenter/header.vm")

<div class="layout clearfix">
<!-- 左边菜单 -->
	#parse("layout/customercenter/leftmenu.vm")

	<div class="mainbody bg">
		<div class="tittab txt_r clearfix">
			<span class="cur lt">收货地址</span>
			<a href="javascript:;" class="addAddr" onClick="openprot(0)">新增收货地址</a>
		</div>
		<form action="$!{domain}/mall/buyer/editUserAddress.htm" method="post" id="addressForm">
		<table class="smpTable mt20">
			<tbody>
				<tr>
					<th>收货人</th>
					<th>所在地区</th>
					<th>街道地址</th>
					<th>电话/手机</th>
					<!-- <th>状态</th> -->
					<th>操作</th>
				</tr>
				#foreach($!address in $!addressList)
				<tr>
					<td>$!address.name</td>
					<td>$!address.provinceName $!address.cityName $!address.districtName</td>
					<td>$!address.address</td>
					<td>
						<p><span class="tel">$!address.telephone</span></p>
						<p><span class="phone">$!address.mobile</span></p>
					</td>
					<!-- <td>#if("$!address.status"=="1")审核通过#end
					    #if("$!address.status"=="2")待审核#end
						#if("$!address.status"=="3")审核失败#end</td> -->
					<td>
						#if("$!address.status"=="1" || "$!address.status"=="3")
						<a href="javascript:;" class="editLink" onClick="editAddress(0,'$!address.id');">编辑</a>
						<a href="$!{domain}/mall/buyer/deleteAddress.htm?id=$!address.id" class="delLink">删除</a>#end
					</td>
				</tr>
				#end
	
				<div class="popbox" id="addr0">
					<div class="addrbox">
						<p class="tt clearfix"><strong class="lt f14">新增地址</strong><a href="javascript:;" class="close" onClick="closeprot();">X</a></p>
						<input type="hidden" name="type" value="0">
						<div id="addressData">
							<dl class="clearfix">
			        			<dt><em>*</em> 收货人：</dt>
			            		<dd>
			            			<p><input name="name" type="text" class="ipt short"></p>
			            			<p class="col02">请填写真实姓名</p>
		            			</dd>
		        			</dl>
							<dl class="clearfix">
								<dt><em>*</em> 所在地区：</dt>
								<dd>
									<select name="provinceId" class="select" onchange="changeProvinceID(this.value)">
										#foreach($!province in $!provinceList)
										<option value="$!province.mainID">$!province.name</option>#end</select> &nbsp;
									<select name="cityId" id="cityid" class="select" onchange="changeCity(this.value)">
										#foreach($!city in $!cityList)
										<option value="$!city.mainID">$!city.name</option> #end</select> &nbsp;
									<select name="districtId" id="districtid" class="select">
										#foreach($!district in $!districtList)
										<option value="$!district.mainID">$!district.name</option>#end</select>
								</dd>
							</dl>
							<dl class="clearfix">
			        			<dt><em>*</em> 街道地址：</dt>
			            		<dd>
			            			<p><input name="address" type="text" class="ipt"></p>
			            			<p class="col02">不必重复填写地区</p>
		            			</dd>
		        			</dl>
		        			<dl class="clearfix">
			        			<dt><em>*</em> 电话号码：</dt>
			            		<dd>
			            			<p><input name="telephone" type="text" class="ipt middle"></p>
			            			<p class="col02">区号-电话号码-分机</p>
		            			</dd>
		        			</dl>
							<dl class="clearfix">
			        			<dt><em>*</em> 手机号码：</dt>
			            		<dd>
			            			<p><input name="mobile" type="text" class="ipt middle"></p>
			            		</dd>
			        		</dl>
							<dl class="clearfix">
			        			<dt>设为默认地址：</dt>
			            		<dd>
			            			<input name="isDefault" type="checkbox" value="1"> 设置为默认收货地址
			            		</dd>
			        		</dl>
						</div>
						<p class="submitBar">
			        		<input class="submit" type="button" value="保 存" onclick="saveAddress();">
			        		<input class="cancel ml10" type="button" value="取 消" onClick="closeprot()">
			        	</p>
					</div>
				</div>
				</tbody>
			</table>
		</form>
	</div>
</div>
<!-- footer -->
	#parse("layout/footer.vm")
<script type="text/javascript" src="$!{mallStatic}/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="$!{mallStatic}/js/public.js"></script>
<script type="text/javascript" src="$!{mallStatic}/js/user.js"></script>
<script type="text/javascript" src="$!{mallStatic}/js/ajaxfileupload.js"></script>
<script type="text/javascript">
	jQuery(document).ready(
		function() {
			jQuery("#user_address_list_cur").addClass("active cur").siblings(".level0").removeClass("cur");
				jQuery("#addressForm").validate({
					rules : {
						name : {
							required : true
						},
						address : {
							required : true
						},
						telephone : {
							required : true
						},
						mobile : {
							required : true,
							digits : true,
							minlength : 11,
							maxlength : 11
						}
					},
					messages : {
						name : {
							required : "必填字段"
						},
						address : {
							required : "必填字段"
						},
						telephone : {
							required : "必填字段"
						},
						mobile : {
							required : "必填字段",
							digits : "只能输入数字",
						    minlength : jQuery.validator.format("请输入正确的手机号"),
							maxlength : jQuery.validator.format("请输入正确的手机号")
						}
					}
				});
			});
jQuery(document).ready(function(){
	jQuery("#Address").addClass("cur").siblings(".leve10").removeClass("cur");
})
/** 上传头像 * */
function ajaxFileUpload() {
	jQuery.ajaxFileUpload({
		url : '$!{domain}/file/fileUpload.do',
		secureuri : false,// 是否启用安全提交,默认为false
		fileElementId : 'myBlogImage',// 文件选择框的id属性
		dataType : 'text',// 服务器返回的格式,可以是json或xml等
		success : function(data, status) {
			data = data.replace("<PRE>", '');// ajaxFileUpload会对服务器响应回来的text内容加上<pre>text</pre>前后缀
			data = data.replace("</PRE>", '');
			data = data.replace("<pre>", '');
			data = data.replace("</pre>", ''); // 本例中设定上传文件完毕后,服务端会返回给前台[0`filepath] 
			if (data.substring(0, 1) == 0) {// 0表示上传成功(后跟上传后的文件路径),1表示失败(后跟失败描述)
				jQuery("img[id='uploadImage']").attr("src",
						"$!domain"+data.substring(2));
				jQuery("#picURL").val(data.substring(2));
				var mainID = jQuery("#mainID").val();
				var picURL = jQuery("#picURL").val();
				jQuery.ajax({
					url : '/mall/buyer/saveAvatar.do',
					data : {
						'mainID' : mainID,
						'picURL' : picURL
					},
					secureuri : false,// 是否启用安全提交,默认为false
					fileElementId : 'myBlogImage',// 文件选择框的id属性
					dataType : 'text',// 服务器返回的格式,可以是json或xml等
					success : function() {
					}
				});
			} else {
				jQuery('#result').html('图片上传失败，请重试！！');
			}
		},
		error : function(data, status, e) { // 服务器响应失败时的处理函数
			jQuery('#result').html('图片上传失败，请重试！！');
		}
	});
}
</script>
<script type="text/javascript" src="$!{mallStatic}/js/jquery.validate.js"></script>
</body>
</html>